body {
    background-color: antiquewhite;
}
h1 {
    color: red;
    margin-left: 300px;
}
h2 {
    color: red;
    font-size: 40px;
}
ul li{
    margin-left: 300px;font-size: 30px;

}
.aaa {

}
li {
    font-weight: bold;
}
ol li {
    font-size: 50px;
    margin: 0 auto;
    text-align: left;
    width: 600px;
    

}
ol {

}
.best-title {
    display: flex;
    justify-content: center;

}